*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font */

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}
/* Button */
.btn{
    background-color: #F15B22;
    color: white;
    padding: 21px 26px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

header{
    height: 100vh;
    background: url(./images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

#banner{
    display: flex;
    justify-content: right;
    
}
#banner .banner-content{
    max-width: 525px;
    text-align: right;
    margin: 216px 230px 166px 0;
}
#banner .banner-content h1{
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 25px;
}
#banner .banner-content p{
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}

.failure{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin: 130px 320px 130px 206px;
}
.failure-img{
    margin-top:0;
    margin-bottom: 600px;
    position: relative;
}


.failure-img .bg-img{
    top: 105px;
    left: 20px;
    position: absolute;
    border-radius: 50%;
    width: 528px;
    height: 528px;
    background-color: #F15B22;
    opacity: 20%;
    
}
.failure img{
    width: 500px;
    position: absolute;
     top: 0px;
    left: 30px;
    z-index: 2;
}

.failure-text{
    width: 416px;
}
.failure-text h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.failure-text p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}
.failure-text ul li{
    list-style: none;
    color: #444343;
}

.failure-text ul li .fa-check{
    color: #16D887;
}

.my-plan{
    max-width: 1140px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 130px;
}
.my-plan h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 56px;
}
.my-plan .plan-list{
    display: flex;
    justify-content: space-between;
}
.my-plan .card{
    text-align: center;
    align-items: center;
}
.my-plan .card img{
    margin-bottom: 24px;
}
.my-plan .card h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}
.my-plan .card p{
    font-size: 25px;
    font-weight: 400;
    color: #737272;
}

.call{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.image{
    position: relative;
}
.image img{
    width: 100%;
    display: block;
}

.image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.call{
    margin-top: 200px;

}
.call .over-text{
    color: white;
    position:absolute;
    z-index: 3;
    /* height: 100%; */
    /* width: 100%; */
    margin-left: 64px;
    margin-top: 7%;
}
.call .over-text h2{
    font-size: 40px;
    margin-bottom: 24px;
}
.btn-call{
     background-color: white;
    border: none;
    padding: 21px 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #FD6E0A;
    align-items: center;
    cursor: pointer;
}

footer{
    margin-top: 130px;
    height: 577px;
    background-color: #151414;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;   
}
footer .text-future{
    height: 317px;
    width: 485px;
   
}
.text-future h2{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.text-future p{
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.text-future .icons-social{
    display: flex;
    gap: 17px;
}

form h3{
    font-size: 25px;
    margin-bottom: 31px;
}
form input[type="email"]{
    width: 325px;
    padding: 18px 31px;
    border-color: white;
    background-color: #151414;
    border-radius: 5px;
    color: white;
    margin-bottom: 16px;
}